@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans";
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.btn {
    font-size: 20px;
    background-color: #FD6E0A;
    font-weight: bold;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
  
}

header{
    background-image: url('../assest/images/developer.png'),url('../assest/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 220px;

}

.nav-title {
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;

}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
   max-width: 580px;
   margin: 0px 220px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
}
.banner-content p{
    font-size: 19px;
    line-height: 35px;
    color: #474747;
}
.banner-profile-img{
    width: 580px;
}